# cached files
__pycache__/

# log files
*.log
overcurrent_log.txt

# calibration files
calibration.json

# environment files
.env

# API Model Check
Google_Ck.py
NVIDIA_Ck.py

# Test database query files
query_test.py

